[Unit]
Description=Zello Headless Service
After=network.target sound.target

[Service]
ExecStart=/opt/zello-allstar-bridge/zello_launcher.sh
Restart=always
User=%i

[Install]
WantedBy=multi-user.target
